body{
background: rgb(20, 20, 20);
color: #999;
font-family: arial;
}
header{
	color: rgb(20, 20, 20);
	background: rgb(250, 250, 250);
	padding :25px 25px 0px 25px;
}
header h1{
		font-family: "Times New Roman";

	font-size:40px;
	list-style-type: none;
	margin: 0;
	display: inline;
	padding :0px 25px 25px 25px;
}
.h {
	font-size:40px;
	font-family: "Times New Roman";
	list-style-type: none;
	margin: 100;
	clear: both;
	padding :25px 25px 25px 25px;
}
.b {
	font-size:20px;
	font-family: arial;
	margin: 100;
	clear: both;
	padding :25px 25px 25px 25px;
}
nav ul li{
background: rgb(20, 20, 20);
list-style-type: none;
display: inline-block;
padding: 10px 20px;
}
nav ul li a{
		color: #999;
}
figure{
	display: inline-block;
	width: 300px;
		float:left;
}
figcaption{
	display: inline-block;
}
article{
	display: inline-block;
}
a {
  color: rgb(46, 35, 168);
}
.a2{
	clear: both;
	display: block;
}
